<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="relax.deep.sleep.sounds.calm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="relax.deep.sleep.sounds.calm.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhiteNoise">
        <activity
            android:name="relax.deep.sleep.sounds.calm.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>

        <service
            android:name="relax.deep.sleep.sounds.calm.service.PlayerService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="relax.deep.sleep.sounds.calm.service.TimerService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="relax.deep.sleep.sounds.calm.service.RescheduleAlarmsService"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="relax.deep.sleep.sounds.calm.broadcast.AlarmBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>